terraform.tfvars
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
cleanup_function.zip
transfer_function.zip

# Test file for development
test.tf
