terraform.tfvars
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
modules/shared-gcp-resources/cleanup_function.zip
modules/shared-gcp-resources/transfer_function.zip
modules/shared-gcp-resources/function_source/__pycache__/

# Test file for development
test.tf
